.post__image {
  width: 100%;
}

.preview__image {
  display: none;
  height: 100%;
  max-height: 10rem;
  align-self: center;
}

@media (min-width: 300px) {
  .preview__image {
    display: inline-block;
    width: 30%;
  }
}

@media (min-width: 500px) {
  .preview__image {
    display: inline-block;
    max-width: 20rem;
    max-height: 13.5rem;
  }
}

.author__posts .preview__image {
  width: auto;
}

.author__posts .preview__image img {
  width: 3.5rem;
  height: 3.5rem;
}
